.card,.card__rectangle,.card__side,.card__switch,.card__text {
    position: absolute;
}

.card {
    width: 553px;
    height: 300px;
    margin: auto;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.ua_js_yes .card {
    opacity: 0;
    -webkit-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
}

.ua_js_yes .card_visible {
    opacity: 1;
}

.card__text {
    top: 30px;
    left: 165px;
    width: 300px;
}

.card__side {
    width: 553px;
    height: 300px;
    top: 0;
    left: 0;
    z-index: 1;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
}

.card__rectangle {
    z-index: 2;
    width: 465px;
    height: 300px;
    background: #fff;
}

.card__side::after {
    content: '';
    left: 100%;
    margin-left: -88px;
    position: absolute;
    border-color: rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) #fff;
    border-style: solid;
    border-width: 150px 0 150px 80px;
    width: 0;
    height: 0;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    z-index: 3;
}

.card__title {
    height: 98px;
    margin-bottom: 10px;
}

.card__gap {
    height: 10px;
}

.card__name {
    font-size: 25px;
    margin: 0;
    font-weight: 400;
}

.card__position {
    font-size: 13px;
    font-weight: 400;
}

.card__side_state_closed {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.card__side_state_opened {
    z-index: 2;
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
}

.card_animation .card__side_state_closed,.card_animation .card__side_state_opened {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.card__switch {
    border-radius: 15% 0 0 0;
    z-index: 10;
    background: #fff;
    bottom: 0;
    right: 0;
    position: absolute;
}

.card__phone-link {
    color: #000;
    text-decoration: none;
    cursor: default;
}

.card__link, .mobile .card__phone-link {
    text-decoration: none;
    color: #0d44a0;
}

.card__link:hover {
    color: #d00;
}

.card__switch .card__link {
    display: inline-block;
    padding: 12px;
    font-size: 18px;
    width: 48px;
    box-sizing: border-box;
}

.card__switch .card__link + .card__link {
    border-left: 1px solid #ededed;
}

.card__link_disabled_yes {
    color: #000;
    text-decoration: none;
    cursor: default;
}

.card__link_disabled_yes:visited, .card__phone-link:visited {
    color: #000;
}

.card__link_disabled_yes:hover, .card__phone-link:hover {
    text-decoration: none;
}

.mobile .card__phone-link:hover {
    color: #d00;
}

.card__logo {
    position: absolute;
    left: 27px;
    border: 0;
}

.card__logo span {
    position: absolute;
    top: -9999px;
}

.card__side_lang_ru .card__logo {
    width: 110px;
    height: 42px;
    top: 129px;
    background-image: url("./logo_lang_ru.svg");
    background-size: 110px 42px;
}

.card__side_lang_en .card__logo {
    width: 110px;
    height: 42px;
    top: 127px;
    background-image: url("./logo_lang_en.svg");
    background-size: 110px 42px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 768px) and (orientation: portrait) {
    .card__side::after {
        left: 0;
        top: 465px;
        margin-left: 0;
        transform: rotate(0);
        border-width: 86.5px 160px 0 160px;
        border-color: #fff rgba(255, 255, 255, 0) rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
    }

    .card__text, .card__logo {
        position: static;
    }

    .card__logo {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    .card__side_lang_en .card__logo, .card__side_lang_ru .card__logo {
        top: 0;
    }

    .card__text {
        padding: 30px 10px;
        width: auto;
        text-align: center;
    }

    .card__rectangle {
        height: 465px;
        width: 320px;
    }

    .card, .card__side {
        width: 320px;
        height: 100%;
        height: calc(100% - 20px);
        top: 20px;
    }

    .card__content {
        box-sizing: border-box;
        padding-top: 80px;
    }

    .card__side {
        -webkit-transform: rotateY(-180deg);
        transform: rotateY(-180deg);
        filter: drop-shadow(4px 4px 10px rgb(0 0 0 / 20%));
    }

    .card__side_state_closed {
        -webkit-transform: rotateY(180deg);
        transform: rotateY(180deg);
    }

    .card__side_state_opened {
        z-index: 2;
        -webkit-transform: rotateY(0);
        transform: rotateY(0);
    }
}
